/*Custom properties*/
:root {
  --header-height: 3rem;
  --clr-headerbg: #e0f2cb;
  --clr-bg: #f1f1f1;
  --clr-font: #343434;

  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  --clr-primary-name1-300: #a3a0a0;
  --clr-primary-name2-500: #6f9489;

  --clr-neutral-name1-300: #e4e9e8;
  --clr-neutral-name2-500: #7fc6b1;

  /*========== Font and typography ==========*/

  --ff-h1: "Titillium Web", sans-serif;
  --h1-font-size: 1.5625rem;
  --h1-font-weight: 700;

  --ff-h2: "Titillium Web", sans-serif;
  --h2-font-size: 1.375rem;
  --h2-font-weight-bold: 700;
  --h2-font-weight-semibold: 600;
  --h2-font-size-small: 1.25rem;

  --ff-h3: "calibri", sans-serif;
  --h3-font-size: 1.25rem;
  --h3-font-weight: 400;

  --ff-p-dialog: "calibri", sans-serif;
  --font-size-p: 1.125rem;

  --body-font: "calibri", sans-serif;

  --p-font-weight: 400;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 1.5625rem;
    --normal-font-size: 1rem;
  }
}

/* sets border box to box sizing hole document*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: var(--header-height) 0 0 0;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-family: var(--ff-h1);
  line-height: 1;
  margin-bottom: 1em;
}

/* margin-bottom: 1em = equal to the actual font size */

p {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; /*responsive images */
  height: auto;
}

.bg-head {
  background-color: var(--clr-headerbg);
  height: 100px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.header-space {
  margin-top: 80px;
  margin-bottom: 60px;
}

.space-head {
  margin-top: 2px;
}



.title {
  font-family: var(--ff-h2);
  font-weight: var(--h2-font-weight-bold);
  color: var(--clr-font);
  padding-top: 20px;
  font-size: 25px;
}

.dialogp {
  font-family: var(--ff-h3);
  font-weight: var(--p-font-weight);
  color: var(--clr-font);
  margin-top: -15px;
  font-size: 20px;
}

.container {
  margin-inline: auto;
  width: min(85%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

/*em is more consistent by zooming in and out*/

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  /*all direct children of the .split will have equal columns */

  .split > * {
    flex-basis: 100%; /* setting ideal width */
  }

  /*Json sibling selector = any element that has a sibling before it adds margin */

  .split > * + * {
    margin-left: 2em;
  }
}

.bg-main {
  background-color: var(--clr-bg);
}

.bg-light {
  background-color: var(--clr-primary-name1-300);
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
}

.nav__logo {
  width: 40px;
}

@media screen and (max-width: 10000px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    transition: 0.4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}


/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }

  .nav__logo {
    width: 30px;
  }

  .nav__img {
    width: 25px;
  }
}

@media screen and (max-width: 640px) {
  .nav__name {
    display: none;
  }

  .nav__logo {
    width: 30px;
  }

  .nav__img {
    width: 25px;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 1400px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 0.5rem); /* 4.5rem */
  }

  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* BUTTONS */

.btnhome {
  display: inline-flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 0;
  margin-bottom: 2.0625rem;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--ff-h2);
  font-size: var(--h2-font-size-small);
  font-weight: var(--h2-font-weight-semibold);
  cursor: pointer;
}

.btnhome:hover {
  background-color: rgb(212, 211, 211);
}

.btnhome:active {
  background-color: rgb(171, 171, 171);
}

.btnmodul:hover {
  background-color: rgb(212, 211, 211);
}

.btnmodul:active {
  background-color: rgb(171, 171, 171);
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
}

.button__icon2, .button__icon3, .button__icon4, .button__icon5, .button__icon6, .button__icon7 {
  padding: 20px 0px 0px 20px;
}

.button__text3 {
  display: inline-flex;
  align-items: center;
  padding-right: 60%;
  height: 100%;
}

.button__text4 {
  display: inline-flex;
  align-items: center;
  padding-right: 46%;
  height: 100%;
}

.button__text5 {
  display: inline-flex;
  align-items: center;
  padding-right: 38%;
  height: 100%;
}

.button__text6 {
  display: inline-flex;
  align-items: center;
  padding-right: 53%;
  height: 100%;
}

.button__text7 {
  display: inline-flex;
  align-items: center;
  padding-right: 48%;
  height: 100%;
}

.button__text8 {
  display: inline-flex;
  align-items: center;
  padding-right: 55%;
  height: 100%;
}



/* Plantebibliotek med JS */
#myInput {
  display: flex;
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 8px 0;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-align: center;
  margin-left: 34px;
  margin-right: 34px;
  border-radius: 10px;
  margin-top: 60px;
}

#myTable {
  border: none;
  width: 80%;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 34px;
  margin-right: 34px;
}

#myTable th,
#myTable td {
  text-align: left;
  height: 104px;
  margin-top: 100px;
  border-radius: 10px;
}

#myTable tr {
  background-color: #ffffff;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

.headersection {
  margin-top: 80px;
  margin-bottom: 100px;
}

.headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 20px;
}

.whitespace {
  height: 25px;
}

.whitespace2 {
  height: 50px;
}

.tdbilleder {
  height: 95px;
  margin-top: -14px;
  border-radius: 10px;
}

.tdtext {
  text-align: center;
  margin-top: -60px;
  font-size: 20px;
  font-family: var(--ff-h2);
  font-weight: 500;
}

.tilbageknap {
  background-color: #ffffff;
  padding: 12px 20px;
  margin-left: 34px;
  border-radius: 10px;
  font-size: 20px;
  color: #343434;
  font-family: var(--ff-h1);
}

/* #result {
  Add a transition effect to the result div
  transition: opacity 1s;
}
 */
#menu, #menu2 {
  width: 144px;
  height: 51px;
  font-size: 22px;
  background-color: white;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  padding-left: 25px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dd1 {
  margin-right: 10px;
}

.dd2 {
  margin-left: 10px;
}

.month-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.month-selector__button1 {
  background: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  width: 50px;
  height: 26px;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  margin-right: 2vw;
}

.month-selector__button2 {
  background: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  width: 50px;
  height: 26px;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  margin-left: 2vw;
}

.month-selector__current-month {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Chart */


.chartMenu {
  width: 100vw;
  height: 80px;
  
}

.chartMenu p {
  padding: 10px;
  font-size: 20px;
}

.chartBox {
  align-content: center;
  width: 700px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgb(37, 37, 37);
  background: white;
  margin-top: 5%;
  margin-left: 10vw;
}

.btnchart {
  margin-top: 10px;
  margin-bottom: 15%;
  margin-left: 10vw;
}

.btnchart1 {
  margin-top: 10px;
  margin-bottom: 15%;
  margin-left: 2vw;
}

.container_energi {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (max-width: 1200px) {
  .chartBox {
    width: 80%;
    height: 400px;
    padding: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .chartBox {
    width: 80%;
    height: 400px;
    padding: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .chartBox {
    width: 80%;
    height: 400px;
    padding: 10px;
  }
  .chartMenu p {
    padding: 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .chartBox {
    width: 80%;
    height: 300px;
    padding: 10px;
  }
  .btnchart1 {
    margin-bottom: 25%;
  }
}

@media only screen and (max-width: 300px) {
  .chartBox {
    width: 80%;
    height: 200px;
    padding: 10px;
  }
  .btnchart1 {
    margin-bottom: 25%;
  }
}

/* Parameter oversigt css start */

.po_headersection {
  margin-top: 80px;
  margin-bottom: 50px;
}

.po_headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.po_headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.po_header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 16px;
}

.po_basil {
  height: 104px;
  width: 90vw;
  background-color: white;
  border-radius: 10px;
  margin-left: 5vw;
}

.po_overskrift {
  padding-top: 20px;
  font-size: 25px;
}

.slidecontainer {
  width: 90vw;
  margin-left: 5vw;
  padding-bottom: 60px;
}

#ph_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    red 0% 46%,
    green 46% 57%,
    red 57% 100%
  );
}

#temp_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    red 0% 34%,
    green 34% 59%,
    red 59% 100%
  );
}

#rh_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    red 0% 40%,
    green 40% 60%,
    red 60% 100%
  );
}

#co2_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    red 0% 50%,
    green 50% 80%,
    red 80% 100%
  );
}

#ec_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    red 0% 73%,
    green 73% 83%,
    red 83% 100%
  );
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 35px;
  background: #fbfbfb;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 3px 6px 0.1px;
}

#ikon1,
#ikon2,
#ikon3,
#ikon4,
#ikon5 {
  display: none;
  margin-left: 110px;
  margin-top: -37px;
  position: absolute;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  margin-left: 5px;
}

/* Undersøg knap start */

.undersoeg_btn {
  float: right;
  margin-top: -42px;
  height: 30px;
  width: 115px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  font-size :15px;
  font-weight: bold;
  padding-top: 7px;
  padding-right: 11px;
}

.soeg {
  float: left;
  margin-top: -5px;
  padding-left: 2px;
  padding-right: 2px;
}

.note_log {
  padding-top: 70px;
}

.noterp,
.plog {
  margin-top: -42px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
}

.noterp {
  float: left;
  margin-right: 5vw;
  width: 125px;
}
.plog {
  float: right;
  margin-left: 5vw;
  width: 100px;
}

.noteikon,
.logikon {
  float: left;
  padding-left: 9px;
}

/* Parameter oversigt css slut */

/* Log ind side */

.logindsection {
  height: 350px;
  background-color: #dff2c9;
  padding: 20px;
}

.logindbillede {
  height: 280px;
  width: 100%;
}

.logindbillede1 {
  height: 300px;
  width: 100%;
}

.logindknap {
  display: flex;
  background-color: #009439;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-family: var(--ff-h1);
  border-radius: 10px;
}

.logindlogo_flexbox {
  display: flex;
  justify-content: center;
}

.logindlogo {
  position: absolute;
  margin-top: 10px;
}



.tilbagebtn {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 100px;
  margin-left: -13px;
  cursor: pointer;
}

.space {
  padding-bottom: 25%;
}

/* BTN Modul*/

.btnmodul {
  display: inline-flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 0;
  margin-bottom: 2.0625rem;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--ff-h2);
  font-size: var(--h2-font-size-small);
  font-weight: var(--h2-font-weight-semibold);
  cursor: pointer;
}

.button__text1 {
  background: linear-gradient(to right, green 10%, white 10%, white);
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}

.button__text2 {
  background: linear-gradient(to right, red 10%, white 10%, white);
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}

.button__icon1 {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}

.checkbox1 {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.containerchb {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Niveau oversigt start*/

.niv_headersection {
  margin-top: 80px;
  margin-bottom: 36px;
}

.niv_headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.niv_headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.niv_header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 16px;
}

.niv_basil {
  height: 104px;
  width: 90vw;
  background: linear-gradient(to right, green 5%, white 5%, white);
  border-radius: 10px;
  margin-left: 5vw;
}

.niv1_top {
  padding-top: 25px;
  padding-left: 7vw;
  color: #343434;
}

.niv1_btm {
  padding-left: 7vw;
  color: #343434;
}

.potteplante {
  width: 70px;
  float: right;
  padding-top: 15px;
  margin-right: 6vw;
}

.niv_to,
.niv_tre,
.niv_fire,
.niv_fem {
  height: 104px;
  width: 90vw;
  background-color: white;
  border-radius: 10px;
  margin-left: 5vw;
}

.niv2_txt,
.niv3_txt,
.niv4_txt,
.niv5_txt {
  padding-top: 43px;
  padding-left: 7vw;
  color: #343434;
}

.plus_btn {
  width: 90px;
  height: 50px;
  float: right;
  border: none;
  border-radius: 10px;
  margin-top: 28px;
  margin-right: 7vw;
  background-color: white;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
  font-size: 55px;
  font-weight: lighter;
  color: #343434;
  text-align: center;
  margin-bottom: 10px;
}

/* notifikation */

/* Make the button and options responsive */

.notifikation {
  display: flex;
  flex-direction: column;
  margin-left: 16vw;
}

.options {
  padding-top: 2px;
  display: none;
}

/* Style the button */
.button_noti {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  cursor: pointer;
}

.noti_fejl {
  float: left;
  padding-right: 10px;
}

.noti_pilned {
  float: right;
}

/* Style the options when they are revealed */
.options.revealed {
  display: block;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  background-color: white;
  margin-top: -5px;
  height: 90px;
  width: 80%;
  box-shadow: 0 2px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 0px 0px 10px 10px;
}

.when,
.where,
.what {
  padding-left: 15px;
  padding-top: 2px;
  color: #343434;
}

.when {
  font-size: 12px;
}

.where {
  font-size: 14px;
  margin-top: -8px;
}

.what {
  font-size: 14px;
  font-weight: bold;
  margin-top: -11px;
}

.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
  width: 325px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 250px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #b2ff00;
}

.videre_fejl_btn {
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
  margin-top: 30px;
  margin-bottom: 100px;
}

/* slut til notifikation */

/* Start til notifikation alt er godt */

.notig_headersection {
  margin-top: 80px;
  margin-bottom: 36px;
}

.notig_headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.notig_headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.notig_header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 16px;
}

.flueben {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flueben_svg {
  width: 50%;
  padding-bottom: 60px;
}

.notigh1 {
  font-size: 45px;
  font-weight: bold;
  color: #343434;
}

.viderebtn {
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
  margin-bottom: 100px;
}

/* Slut til notifikation alt er godt */

/* Start kontakt */
::placeholder {
  color: gray;
  position: absolute;
  top: 25px;
  left: 25px;
}

#kontakt {
  width: 100%;
  height: 60vw;
  max-height: 600px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.besked {
  margin-top: -30px;
}

.tilbagekontakt {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  width: 110px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.sendkontakt {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  width: 110px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 30px;
  cursor: pointer;
  float: right;
}

.kontaktinfo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
  font-family: var(--ff-h3);
  font-weight: var(--p-font-weight);
  color: var(--clr-font);
  font-size: 20px;
}

/* Slut kontakt */

/* Start profil */

.profil_box1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 55vw;
  margin-bottom: 25px;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.profilsideicon {
  width: 25%;
  padding-top: 20px;
}

.skiftkode {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 25px;
  cursor: pointer;  
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.profil_box2, .profil_box3 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 25vw;
  max-height: 350px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.tilbageprofil {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  width: 110px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  box-shadow: 0 3px 6px hsla(var(--hue), var(--sat), 15%, 0.15);
}